*.php text eol=lf
/.gitattributes export-ignore
/.github/ export-ignore
/.gitignore export-ignore
/composer.lock export-ignore
/phpunit.xml export-ignore
/psalm.xml export-ignore
/docs/ export-ignore
/test/ export-ignore
logo.png export-ignore